* {
  margin: 0;
  box-sizing: border-box;
  font-family : Arial, serif;
}

.container {
  display: flex;
  max-width: 860px;
  width: 85%;
  height: 72vh;
  margin: 20px auto;
  flex-wrap: wrap;
  clear: both;
  background-color: white;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.main {
  width: 70%;
  margin: 20px auto;
  background-color: red;
  padding: 20px;
  border-radius: 20px;
  border: 10px solid #cc0000; /* Vermelho mais escuro para a borda */
}

.main p {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}

.main p::after {
  background: none;
  content: attr(data-heading) / "";
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.main-btns{
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
}

.main-btns button{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 940px) {
    .main{
        width: 95%;
    }
  }